
@mixin button {
    background-color: #3483FA;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 16px;
    height: 48px;
    min-width: 275px;              
    &:hover {
        background-color: #2968c8;
    }
    &:active {
        background-color: #1f4e96;
    }
}

.ml-prod-data {
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    width: 100%;

    .ml-prod-data-img img{
        border-radius: 4px;
        max-width: 680px;
        margin-right: 32px;
        width: 95%;
    }

    .ml-prod-data-detail{
        margin-left: auto;
        max-width: 500px;
        & div:nth-of-type(1){
            color: #666666;
            font-size: 14px;
            margin-bottom: 16px;
        }
        & div:nth-of-type(2){
            color: #333333;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 32px;
            max-width: calc();
        }
        & div:nth-of-type(3){
            color: #333333;
            font-size: 46px;
            margin-bottom: 32px;
        }
        & div:nth-of-type(4){
            button {
                @include button;
            }
        }
    }

    @media only screen and (max-width: 1200px){
        .ml-prod-data-detail {
            text-align: center;
            width: 100%;
            margin-left: none;
            max-width: none;
            & div:nth-of-type(4){
                button {
                   min-width: 100% !important;
                }
            }
        }
        .ml-prod-data-img {
            margin-bottom: 16px;
            & img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

.ml-prod-additional {
    padding: 32px;
    max-width: 680px;
    width: 95%;
    
    & div:nth-of-type(1){
        font-size: 28px;
        padding-bottom: 32px;
    }

    & div:nth-of-type(2){
        font-size: 16px;
        color: #666666;
    }

    @media only screen and (max-width: 1200px){
        max-width: 100%;
        width: 100%;
    }
}